.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  box-shadow: 0 0 0 2px black;
}

.Button.violet:focus {
  box-shadow: 0 0 0 2px rgb(121, 121, 121);
}
